@font-face {
  font-family: "iconfont"; /* Project id 4606521 */
  src: url('iconfont.woff2?t=1722566000880') format('woff2'),
       url('iconfont.woff?t=1722566000880') format('woff'),
       url('iconfont.ttf?t=1722566000880') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sangediandian:before {
  content: "\e644";
}

.icon-bianji:before {
  content: "\e607";
}

.icon-shanchu:before {
  content: "\e656";
}

.icon-youzhuan:before {
  content: "\e694";
}

.icon-caogao:before {
  content: "\e64a";
}

.icon-xiaoxi:before {
  content: "\e619";
}

.icon-youzhuan-copy:before {
  content: "\eac6";
}

.icon-arrow-left:before {
  content: "\e606";
}

.icon-arrow-left-copy:before {
  content: "\eac5";
}

.icon-duihao:before {
  content: "\e633";
}

.icon-shijian-xianxing:before {
  content: "\e8c4";
}

.icon-shangdian:before {
  content: "\e62b";
}

.icon-shangchuan:before {
  content: "\e76d";
}

.icon-tupian:before {
  content: "\e625";
}

.icon-Return:before {
  content: "\e612";
}

.icon-lightning:before {
  content: "\e655";
}

.icon-santiaoxian:before {
  content: "\e603";
}

.icon-f24gf-folder:before {
  content: "\eac4";
}

.icon-shezhi:before {
  content: "\e604";
}

.icon-zengjia:before {
  content: "\e8c0";
}

.icon-xiaohuohua-01:before {
  content: "\e605";
}

.icon-laba:before {
  content: "\e894";
}

.icon-biaoqing:before {
  content: "\e637";
}

.icon-in:before {
  content: "\e6c1";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-FacebookOutlined:before {
  content: "\e654";
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-shijiananpai:before {
  content: "\e618";
}

.icon-reports:before {
  content: "\e602";
}

.icon-IO-overview-activity:before {
  content: "\e617";
}

.icon-xingzhuang34:before {
  content: "\e601";
}

.icon-sparkles-outline:before {
  content: "\e6e6";
}

.icon-sousuo:before {
  content: "\e854";
}

